body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

.font-name {
    font-family: 'Roboto', sans-serif;
}

.font-description {
    font-family: 'Courier New', Courier, monospace;
}

.semantic-style {
    color: #808080;
}